name: tarefas
on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
      
      - name: Instalação do Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
    
      - name: Instalação das dependências
        run: npm ci
        
      - name: Instalar ts-node e typescript
        run: npm install --save-dev ts-node typescript  
      
      - name: Rodar o build
        run: npm run build

      - name: Rodar o lint
        run: npm run lint
        
      - name: Rodar testes
        run: npm run test

      - name: Limpar cache do npm
        run: npm cache clean --force

